@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="container">
<div class="row">
    <div class="col-md-4">
        <h2 class="text-center"> Recent New Hires </h2>
       
        <ul> 
            <li> Project Managers
                <ol>
                    <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                </ol>
            </li>

            <li> Software Developers
                <ol>
                    <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                </ol>
            </li>

            <li> HR
                <ol>
                    <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                </ol>
            </li>

            <li> Sales
                <ol>
                    <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                </ol>
            </li>

            <li> Management
                <ol>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                </ol>
            </li>

            <li> Marketing
                <ol>
                    <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                </ol>
            </li>

    </ul>

    </div>

    <div class="col-md-4">
        <h2 class="text-center"> Final Round </h2>

        <ul>
            <li>
                Project Managers
                <ol>
                    <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                </ol>
            </li>

            <li>
                Software Developers
                <ol>
                    <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                </ol>
            </li>

            <li>
                HR
                <ol>
                    <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                </ol>
            </li>

            <li>
                Sales
                <ol>
                    <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                </ol>
            </li>

            <li>
                Management
                <ol>
                    <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                </ol>
            </li>

            <li>
                Marketing
                <ol>
                    <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                </ol>
            </li>

        </ul>
    </div>
    <div class="col-md-4">
        <h2 class="text-center"> Third Round  </h2>

        <ul>
            <li>
                Project Managers
                <ol>
                    <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                </ol>
            </li>

            <li>
                Software Developers
                <ol>
                    <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                </ol>
            </li>

            <li>
                HR
                <ol>
                    <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                </ol>
            </li>

            <li>
                Sales
                <ol>
                    <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                </ol>
            </li>

            <li>
                Management
                <ol>
                    <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                </ol>
            </li>

            <li>
                Marketing
                <ol>
                    <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                </ol>
            </li>

        </ul>
    </div>
    </div>
    </div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-center"> Second Round </h2>

            <ul>
                <li>
                    Project Managers
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

                <li>
                    Software Developers
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

                <li>
                    HR
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

                <li>
                    Sales
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

                <li>
                    Management
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

                <li>
                    Marketing
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

            </ul>
        </div>

        <div class="col-md-4">
            <h2 class="text-center"> First Round </h2>

            <ul>
                <li>
                    Project Managers
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

                <li>
                    Software Developers
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

                <li>
                    HR
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

                <li>
                    Sales
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

                <li>
                    Management
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

                <li>
                    Marketing
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

            </ul>
        </div>
        <div class="col-md-4">
            <h2 class="text-center"> Resumes Recieved </h2>

            <ul>
                <li>
                    Project Managers
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

                <li>
                    Software Developers
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

                <li>
                    HR
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

                <li>
                    Sales
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

                <li>
                    Management
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

                <li>
                    Marketing
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

            </ul>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-center"> </h2>

        </div>

        <div class="col-md-4">
            <h2 class="text-center"> Candidates for Later </h2>

            <ul>
                <li>
                    Project Managers
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

                <li>
                    Software Developers
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

                <li>
                    HR
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

                <li>
                    Sales
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

                <li>
                    Management
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

                <li>
                    Marketing
                    <ol>
                        <li>@Html.ActionLink("Brian Choi", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Matthew Dembinski", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Lindsay Irwin", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Josh Topacio", "Contact", "Home")</li>
                    </ol>
                </li>

            </ul>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">   </h2>

        </div>
    </div>
</div>


